body {
	font-family: sans-serif;
	line-height: 1.3;
	background: #eeeeee;
}

nav.sidenav {}

main {
	background: white;
	padding: 10px;
}

footer {
	margin-top: 2em;
}

.page-container {
	margin: 0 auto;
	max-width: 800px;
}

.cols {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
