---
layout: skel.liquid
---

<nav class="sub-nav">
		<a href="/res/">Resources Index</a>
	</nav>

<main>
{{ content }}
</main>

{% unless nonfree %}
<footer>
Unless specified otherwise, content on this page is available under the
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC-BY-NC-SA 4.0 International</a>
license.
</footer>
{% endunless %}