{% capture title %}{% if title %}{{ title }} : {% endif %}the locness-space{% endcapture %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" href="/style.css">
	<title>{{ title }}</title>
</head>
<body>
	<div class="page-container">
		<header></header>
		{{ content }}
		<footer></footer>
	</div>
</body>
</html>
